/*
__pycache__
!spotify_web_downloader
!.gitignore
!pyproject.toml
!README.md
!requirements.txt

# Docker support:
!docker-compose.yml

docker/*
!docker/
!docker/Dockerfile
!docker/example.gif

docker/downloads/*
!docker/downloads/
!docker/downloads/.placeholder.txt
